/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/02/2018, 12:56:36 PM
    Author     : Christian
*/

.titulo {
	/*color:inherit;*/
	color: inherit;
	margin-bottom: 20px;
}

.alert {
	padding: 10px;
}
.preloader1{
    
    width:20px;
    height: 20px;
    display: inline-block;  
    border:2px solid #eee;
    border-top:2px solid  #666;
    border-right: 2px solid #666;
    border-left:1.9px;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}
@keyframes girar{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
    
}
#preloader_1{
    position:relative;
}
#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    animation: preloader_1 1.5s  infinite ease-in-out;
}
 
#preloader_1 span:nth-child(2){
left:11px;
animation-delay: .2s;
 
}
#preloader_1 span:nth-child(3){
left:22px;
animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
left:33px;
animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
left:44px;
animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(10px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
}