<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>controladorProfesorIndex</servlet-name>
		<servlet-class>controller.teacher.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorIndex</servlet-name>
		<url-pattern>/teacher</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorProfesorInsertar</servlet-name>
		<servlet-class>controller.teacher.add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorInsertar</servlet-name>
		<url-pattern>/teacher/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorProfesorEliminar</servlet-name>
		<servlet-class>controller.teacher.delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorEliminar</servlet-name>
		<url-pattern>/teacher/delete</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorProfesorModificar</servlet-name>
		<servlet-class>controller.teacher.view</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorModificar</servlet-name>
		<url-pattern>/teacher/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorRoleInsertar</servlet-name>
		<servlet-class>controller.roles.add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRoleInsertar</servlet-name>
		<url-pattern>/roles/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorRoleIndex</servlet-name>
		<servlet-class>controller.roles.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRoleIndex</servlet-name>
		<url-pattern>/roles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorRoleModificar</servlet-name>
		<servlet-class>controller.roles.view</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRoleModificar</servlet-name>
		<url-pattern>/roles/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorRoleEliminar</servlet-name>
		<servlet-class>controller.roles.delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRoleEliminar</servlet-name>
		<url-pattern>/roles/delete</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>controladorRecursoInsertar</servlet-name>
		<servlet-class>controller.resources.add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRecursoInsertar</servlet-name>
		<url-pattern>/resources/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorRecursoIndex</servlet-name>
		<servlet-class>controller.resources.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRecursoIndex</servlet-name>
		<url-pattern>/resources</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorRecursoModificar</servlet-name>
		<servlet-class>controller.resources.view</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRecursoModificar</servlet-name>
		<url-pattern>/resources/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorRecursoEliminar</servlet-name>
		<servlet-class>controller.resources.delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRecursoEliminar</servlet-name>
		<url-pattern>/resources/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorAccesoInsertar</servlet-name>
		<servlet-class>controller.access.add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAccesoInsertar</servlet-name>
		<url-pattern>/access/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorAccesoIndex</servlet-name>
		<servlet-class>controller.access.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAccesoIndex</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorAccesoModificar</servlet-name>
		<servlet-class>controller.access.view</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAccesoModificar</servlet-name>
		<url-pattern>/access/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorAccesoEliminar</servlet-name>
		<servlet-class>controller.access.delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAccesoEliminar</servlet-name>
		<url-pattern>/access/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorUsuarioIndex</servlet-name>
		<servlet-class>controller.users.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorUsuarioIndex</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorUsuarioInsertar</servlet-name>
		<servlet-class>controller.users.add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorUsuarioInsertar</servlet-name>
		<url-pattern>/users/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorUsuarioEliminar</servlet-name>
		<servlet-class>controller.users.delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorUsuarioEliminar</servlet-name>
		<url-pattern>/users/delete</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorUsuarioModificar</servlet-name>
		<servlet-class>controller.users.view</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorUsuarioModificar</servlet-name>
		<url-pattern>/users/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorGmail</servlet-name>
		<servlet-class>gmail.GmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorGmail</servlet-name>
		<url-pattern>/gmail</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>